/*  =================================================
    Custom Fonts
    =================================================   */
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

/*  =================================================
    Custom Properties (Variables)
    =================================================   */
:root {
  --white:    hsl(0, 100%, 100%);
  --grey:     hsl(0, 0%, 58%);
  --red:      hsl(4, 100%, 67%);

  --blue-700: hsl(235, 18%, 26%);
  --blue-800: hsl(234, 29%, 20%);

  --gradient-hover: linear-gradient(to right, hsl(15,100%, 61%), hsl(346, 100%, 66%));

  --spacing-100:  0.8rem;
  --spacing-200:  1.6rem;
  --spacing-300:  2.4rem;
  --spacing-400:  3.2rem;
  --spacing-500:  4.0rem;
  --spacing-600:  4.8rem;
  --spacing-800:  6.4rem;
  --spacing-900:  7.2rem;
  --spacing-1300: 10.4rem;
}

/*  =================================================
    CSS Reset
    =================================================   */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 10 pixels = 1rem */
html {
  font-size: 62.5%;
}

/*  =================================================
    Typography Utilities
    =================================================   */
.text--p1 {
  font-family: Roboto, sans-serif;
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
}

@media (min-width: 768px) {
  .text--p1 {
    font-size: 5.6rem;
  }
}

.text--p2-bold {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
}

.text--p2-regular {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.text--p3 {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
}

/*  =================================================
    Base Styles
    =================================================   */
body {
  background-color: var(--blue-700);
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);

  background-color: var(--white);

}

.newsletter__image {
  width: 100%;
  display: block;
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}